.searchbar {
    margin: auto;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.searchbar a {
    margin: auto 1rem;
    width: min-content;
}

.searchbar input {
    height: 2.5rem;
    width: auto;
    padding-left: 1rem;

    flex-grow: 1;
    border-radius: 1.5rem;
    border: none;
}