.bar {
    display: flex;
    width: fit-content;

    margin: auto;
    padding: 2rem 0;
    gap: 2rem;
    justify-content: space-around;

    list-style: none;
}

.bar.horizontal {
    flex-direction: row;
}

.bar.vertical {
    flex-direction: column;
}

.bar-item {
    margin: auto;
}