.outfit {
    margin: 0 auto auto;
    scroll-snap-align: center;
}

.outfit-image {
    display: block;
    margin: auto;
    height: clamp(75px, 15dvh, 200px);
    aspect-ratio: 4 / 5;
    object-fit: contain;
}