.venv/
.vscode/

# Python compiled files
__pycache__/
Remoire/app/__pycache__
*.pyc
*.pyo
*.pyd
Remoire/app.db
.node_modules/
.Remoire/app/run.py
.Remoire/frontend/package.json
node_modules/.package-lock.json
node_modules/.bin/loose-envify
node_modules/js-tokens/CHANGELOG.md
node_modules/js-tokens/index.js
node_modules/js-tokens/LICENSE
node_modules/js-tokens/package.json
node_modules/js-tokens/README.md
node_modules/loose-envify/cli.js
node_modules/loose-envify/custom.js
node_modules/loose-envify/index.js
node_modules/loose-envify/LICENSE
node_modules/loose-envify/loose-envify.js
node_modules/loose-envify/package.json
node_modules/loose-envify/README.md
node_modules/loose-envify/replace.js
node_modules/react/index.js
node_modules/react/jsx-dev-runtime.js
node_modules/react/jsx-runtime.js
node_modules/react/LICENSE
node_modules/react/package.json
node_modules/react/react.shared-subset.js
node_modules/react/README.md
node_modules/react/cjs/react-jsx-dev-runtime.development.js
node_modules/react/cjs/react-jsx-dev-runtime.production.min.js
node_modules/react/cjs/react-jsx-dev-runtime.profiling.min.js
node_modules/react/cjs/react-jsx-runtime.development.js
node_modules/react/cjs/react-jsx-runtime.production.min.js
node_modules/react/cjs/react-jsx-runtime.profiling.min.js
node_modules/react/cjs/react.development.js
node_modules/react/cjs/react.production.min.js
node_modules/react/cjs/react.shared-subset.development.js
node_modules/react/cjs/react.shared-subset.production.min.js
node_modules/react/umd/react.development.js
node_modules/react/umd/react.production.min.js
node_modules/react/umd/react.profiling.min.js
Remoire/app/__pycache__/models.cpython-312.pyc
Remoire/app/__pycache__/auth.cpython-312.pyc
Remoire/app/__pycache__/models.cpython-312.pyc
Remoire/instance/database.db
.DS_Store
Remoire/.DS_Store
Remoire/migrations/
Remoire/app/static/js/main.de9eb14f.js
Remoire/app/static/js/main.de9eb14f.js.LICENSE.txt
Remoire/app/static/js/main.de9eb14f.js.map
Remoire/app/static/js/main.dfc733ee.js
Remoire/app/static/js/main.dfc733ee.js.LICENSE.txt
Remoire/app/static/js/main.dfc733ee.js.map
Remoire/app/static/js/main.faa62530.js
Remoire/app/static/js/main.faa62530.js.LICENSE.txt
Remoire/app/static/js/main.faa62530.js.map
