.carousel {
    display: flex;
    position: relative;

    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    
    -ms-overflow-style: none; /* hide scroll bar for Microsoft browsers*/
    scrollbar-width: none; /* hide scroll bar for Gecko-based browsers */
}

.carousel-image {
    position: relative;
    height: 100%;
    aspect-ratio: 4 / 5;
    object-fit: contain;
    margin: auto;
}