.wardrobe-carousel-container div.carousel {
    width: 70dvw;
    height: 35dvh;
}

#upload-status {
    margin: 1rem auto;
    text-align: center;
}

button.button-upload {
    cursor: pointer;
}

button.button-uploading {
    cursor: wait;
}