.carouselbutton {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    margin: auto;

    width: fit-content;
    height: fit-content;

    padding: 0;

    background-color: var(--hex__button);
    border: none;
    border-radius: 50% 50% 50% 50%;

    cursor: pointer;

    transition-duration: 0.15s;
}

.carouselbutton:hover {
    background-color: var(--hex__button-hover);
}

.carouselbutton:active {
    transform-origin: top;
    transform: scale(0.9);
}

.carouselbutton.left {
    left: 0;
}

.carouselbutton.right {
    right: 0;
}

.carouselbutton img {
    width: 2rem;
    height: 2rem;

    aspect-ratio: 1;
    vertical-align: middle;
    padding: 0;

    object-fit: contain;
}