.nav-item {
    display: flex;
    width: fit-content;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

.nav-link {  
    margin: auto;
    padding: 1rem 1.5rem;
    width: max-content;
    color: var(--hex__text-contrast);
}

.nav-link:link {  
    text-decoration: none;
    font-weight: 550;
}