@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --colour-background: #f5f5fa;
    --colour-overlay: #e9e9ed;
    --colour-text: #292727;

    --opacity-inactive: 50%;
    
    --height-navBar: 3.5rem;
}

html {
    font-family: "Karla", Karla, sans-serif;
}

body {
    /* background-color: #EFEDE9; */
    /* background-color: #f6f5f2; */
    min-height: 100vh;
    min-height: 100dvh;
    
    padding-top: var(--height-navBar);

    background-color: var(--colour-background, #faf4f4);
    color: var(--colour-text, #292727);
}

svg {
    fill: var(--colour-text);
}

button.primary-button {
    /* border: 3px solid goldenrod; */
    border: none;
    /* background-color: #ededed; */
    background-color: var(--colour-background, #faf4f4);
    color: var(--colour-text);

    padding: 16px 32px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: min(100px, 8%);

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    display: block;
    transition-duration: 0.4s;
    cursor: pointer;
}

button.primary-button:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
    /* background-color: goldenrod;
    color: white; */
}

h1 {
    /* margin-top: 5%; */
    /* padding: 10%; */
    text-align: center;

    font-size: 150px;
}

.title {
    float: left;
}

.nav-bar ul {
    /* margin: auto; */
    width: 100%;
    height: var(--height-navBar);
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: var(--colour-overlay);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar li {
    float: right;
    /* margin: auto 10px; */
    margin: 0 10px;
    padding: 8px;
    transition-duration: 300ms;
}

.nav-bar li.active {
    opacity: 100%;
}

.nav-bar li.inactive {
    opacity: var(--opacity-inactive);
}

.nav-bar li a {
    display: inline-block;
    text-decoration: none;
}

.nav-bar a:link, a:visited {
    color: var(--colour-text);
}

.nav-bar li:hover {
    opacity: 100%;
}

.nav-bar a:active {
    color: var(--colour-text);
}

button.button-dropdown {
    border: 0;
    padding: 0;
    background-color: var(--colour-overlay);
}

button.button-dropdown:hover + ul.sub-menu {
    display: block;
}

ul.sub-menu {
    display: hidden;
    position: absolute;
    background-color: var(--colour-background);
    color: var(--colour-text);
    top: var(--height-navBar);
}

ul.sub-menu li {
    float: right;
    color: var(--colour-text);
}

ul.sub-menu li a {
    color: black;
}

/* ul.sub-menu {
    display: block;
    align-content: right;

    width: 100%;
    height: var(--height-navBar);
    position: relative;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: var(--colour-overlay);
} */

/* button.button-dropdown:hover ul.sub-menu {
    overflow-y: scroll;
    overflow-x: hidden;

    

    display: block;
}

ul.sub-menu {
    display: none;
}

.sub-menu li {
    float: none;
    margin-left: auto;
    margin-right: 0;
} */

.carousel-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: 80%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    
    -ms-overflow-style: none; /* hide scroll bar for Microsoft browsers*/
    scrollbar-width: none; /* hide scroll bar for Gecko-based browsers */
}

.carousel-wrapper::-webkit-scrollbar {
    display: none; /* hide scroll bar for WebKit-based browsers */
}

.card {
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    /* background-color: white; */
    border-radius: 14px;
    text-align: center;
}

.card img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}