@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --colour-background: #f5f5fa;
    --colour-overlay: #e9e9ed;
    --colour-text: #292727;
    --opacity-inactive: 50%;
}

html {
    font-family: "Karla", Karla, sans-serif;
}

body {
    /* background-color: #EFEDE9; */
    /* background-color: #f6f5f2; */
    min-height: 100vh;
    min-height: 100dvh;
    
    background-color: var(--colour-background, #faf4f4);
    color: var(--colour-text, #292727);
}

button {
    /* border: 3px solid goldenrod; */
    border: none;
    /* background-color: #ededed; */
    background-color: var(--colour-background, #faf4f4);
    color: var(--colour-text);

    padding: 16px 32px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: min(100px, 8%);

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    display: block;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
    /* background-color: goldenrod;
    color: white; */
}

h1 {
    margin-top: 5%;
    text-align: center;

    font-size: 150px;
}

.title {
    float: left;
}

.nav-bar {
    margin: auto;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: var(--colour-overlay);
}

.nav-bar li {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    transition-duration: 300ms;
}

.nav-bar li.active {
    opacity: 100%;
}

.nav-bar li.inactive {
    opacity: var(--opacity-inactive);
}

.nav-bar li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.nav-bar a:link, a:visited {
    color: var(--colour-text);
}

.nav-bar li:hover {
    opacity: 100%;
}

.nav-bar a:active {
    color: var(--colour-text);
}

.carousel-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: 80%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    
    -ms-overflow-style: none; /* hide scroll bar for Microsoft browsers*/
    scrollbar-width: none; /* hide scroll bar for Gecko-based browsers */
}

.carousel-wrapper::-webkit-scrollbar {
    display: none; /* hide scroll bar for WebKit-based browsers */
}

.card {
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    /* background-color: white; */
    border-radius: 14px;
    text-align: center;
}

.card img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}