.navbar-nav {
    margin: auto;
    padding: 0.75rem 0.75rem;
    width: dvw;
    height: fit-content;

    font-size: var(--font-size__p);
    list-style-type: none;

    background-color: var(--hex__overlay);

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}