.navbar-nav {
    margin: auto;
    padding: 0.25rem 1rem;
    height: 4.5rem;

    font-size: var(--font-size__p);
    list-style-type: none;

    background-color: var(--hex__overlay);

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.active .nav-link {
    background-color: var(--hex__background);
    color: var(--hex__text);
    border-radius: 1.5rem;
}

.nav-item.search {
    width: 100%;
}