.popover-container {
    width: fit-content;
    margin: auto;
}

.popover-toggle {
    margin: auto;
}

.popover-content {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: var(--filter__drop-shadow);
}