:root {
	--hex__brand-main: #660C42;
	--hex__brand-alt: #A01367;
	--hex__brand-light: #C286B7;
	--hex__brand-dark: #3F1B64;
	--hex__brand-accent: #992C3B;
	--hex__brand-black: #292727;
	--hex__brand-grey: #92808a;
	--hex__brand-white: #FFFBF8;
	--hex__brand-beige: #E8D8CB;

	--hex__background: var(--hex__brand-white);
	--hex__overlay: var(--hex__brand-main);
	--hex__text: var(--hex__brand-black);
	--hex__text-contrast: var(--hex__brand-white);
	--hex__button: var(--hex__brand-light);
	--hex__drop-shadow: var(--hex__brand-grey);

	--font-size__base: 3vw;
	--font-size__h1: clamp(4rem, var(--font-size__base) * 8, 8rem);
	--font-size__h2: clamp(1.5rem, var(--font-size__base) * 3, 3rem);
	--font-size__h3: clamp(1.25rem, var(--font-size__base) * 2, 2rem);
	--font-size__h4: clamp(1rem, var(--font-size__base) * 1.5, 1.5rem);
	--font-size__h5: clamp(1rem, var(var(--font-size__base) * 1.3), 1.3rem);
	--font-size__p: 1rem;
	--font-weight__h4: 500;
	--font-weight__h5: 300;

	--linear-gradient__background: linear-gradient(55deg, var(--hex__background4) 0%, var(--hex__background3) 51%, var(--hex__background2) 85%);

	--opacity__inactive: 50%;

	--border-radius: 2rem;

	--count__post-columns: 1;
	--width__display: 90dvw;
	/* --width__post: 90dvw; */
	--width__post: calc(var(--width__display) / var(--count__post-columns));
	

	--height__nav-bar: 3.5rem;
}

@media (width >= 576px) {
	:root {
		--count__post-columns: 2;
		/* --width__post: 45dvw; */
	}
}

@media (width >= 768px) {
	:root {
		--count__post-columns: 3;
		/* --width__post: 30dvw; */
	}
}

@media (width >= 991px) {
	:root {
		--count__post-columns: 4;
		/* --width__post: 30dvw; */
	}
}

html {
	background-color: var(--hex__background);
}

body {
	min-height: 100dvh;
	width: 100%;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 2rem auto;
	text-align: center;
}

p {
	text-align: center;
}

a {
	color: var(--hex__text-contrast);
}

button {
	display: block;
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	background-color: var(--hex__button);
	border: none;
	border-radius: 1rem;
	cursor: pointer;
}